*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none!important;
    color: white!important;
    background-color: rgb(23, 180, 201);
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    text-decoration: none;
    background:  rgb(23, 180, 201);
}


.logo{
    font-size: 30px;
    font-weight: 500;
    color: white;
}
.logo span{
    color: brown!important;
}

.nav{
    display: flex;
}
.nav a{
    color: white;
    margin-left: 60px;
    font-size: 15;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .50s ease;
}
.nav a:hover{
    border-bottom: 2px solid white!important;
}

#menu-icon{
    color: brown;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
    
}

.hero{
    height: 100%;
    width: 100%;
    min-height: 110vh;
    background-color: rgb(23, 180, 201);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 6rem;

}
section{
    padding: 0 19%;
    

}



.hero-text h1{
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 30px;
    line-height: 1;
    color: white;
    margin: 0 0 20px;
}

.hero-text h4{
    font-size: 20px;
    font-weight: 300;
    color: white;
    margin-bottom: 10px;
}

.hero-text p{
    color: white;
    font-size: 10px;
    line-height: 1.9;
    margin-bottom: 30px;
}

.hero-img img{
    width: 410px;
    height: 470px;
}

.hero-text a{
    display: inline-block;
    color: white;
    background: brown;
    border: 4px solid transparent;
    padding: 8px 10px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 600;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease; 
}

.hero-text a:hover{
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);

}

.hero-text a.ctaa{
    background: transparent;
    border: 2px solid white;
    margin-left: 20px;
}

.hero-text a.ctaa i{
    vertical-align: middle;
    margin-right: 5px;
}



.icons{
    position: absolute;
    top: 50%;
    padding: 9%;
    transform: translateY(-50%);
}

.icons i{
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color: white;
    transition: all .50s ease;
}

.icons i:hover{
    color: brown;
    transform: translate(-50%);
}

.scroll-down{
    position: absolute;
    bottom: 6%;
    right: 9%;
}
.scroll-down i{
    display: block;
    padding: 12px;
    font-size: 25px;
    color: white;
    background: brown;
    border-radius: 30px;
    transition: all.50s ease;
}
.scroll-down i:hover{
    transform: translateY(-5px);
}


/*Carousel*/

.carousel-inner .carousel-item{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-inner .carousel-item::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.carousel-inner .carousel-caption{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35%;
    left: 0;
    bottom: 0;
    right: 0;
}

.carousel-inner .carousel-caption span{
    color: rgb(235, 42, 42);
}
.carousel-inner .carousel-caption h2{
    color: rgb(24, 184, 85);
    margin-bottom: 7px;
    font-size: 45px;
    font-weight: 700px;
    width: 85%;
    margin:0px auto 20px auto ;

}

.carousel-inner .carousel-caption p{
    font-size: 18px;
    width: 85%;
    margin: 0px auto 24px auto;
}



@media (max-width:1535px){
    header{
        padding: 15px 3%;
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transition: .2s;
    }
    .scroll-down{
        right: 3%;
        transition: .2s;
    }
}
@media (max-width:1460px){
    section{
        padding: 0 12%;
        transition: .2s;
    }

}
@media (max-width:1340px){
    .hero-img img{
        width: 100%;
        height: auto;
    }
    .hero-text h1{
        font-size: 75px;
        margin: 0 0 30px;
    }
    .hero-text h5{
        margin-bottom: 25px;
    }
}
@media (max-width:1195px){
    section{
        padding: 0 3%;
        transition: .2s;
    }
    .hero-text{
        padding-top: 115px;
    }
    .hero-img{
        text-align: center;
    }
    .hero-img img{
        width: 560px;
        height: auto;
    }
    .hero{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    .icons{
        display: none;
    }
    .scroll-down{
        display: none;
    }
}
@media (max-width:990px){
    #menu-icon{
        display: block;
    }
    .nav{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 160px;
        height: 60vh;
        background: brown;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px ;
        transition: all .50s ease;
    }
    .nav a{
        margin-left: 0;
        display: block;
        margin: 7px 0;
    }
    .nav.open{
        right: 0;
    }

}
@media (max-width:680px){
    .hero-img img{
        width: 100%;
        height: auto;
    }
}



/*About me*/

.card-title{
    font-size: 30px;
    font-weight: 700;
}

.card{
    margin-top: 10%;
    height: 40%;
    font-size: 23px;
  
   
  
}

.card img{
    border-radius: 15px;
}

.card-text{
    margin-top: 70px;
    font-size: 20px;
}


.tab-tittle{
    display: flex;
    margin: 20px 0 40px;
    margin-left: 50px;
}

.tab-link{
    margin-right: 50px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    position: relative;

}

.tab-link::after{
    content: '';
     width: 0;
    height: 3px;
    background: brown;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-link.active::after{
    width: 50%;
}

.tab-content ul li{
    list-style: none;
    margin: 10px 10px;
}


.tab-content{
    display: none;
}

.tab-content.active-tab{
    display: block;
}

.accordion{
    font-size: 15px;
    
}

.accordion a{
    font-size: 14px;
}

.accordion-item{
    background-color: aqua;
}



.conn{
    margin-top: 180px;
    justify-content: center;
    border-style: none!important;
    
}

.conn img{
    height: 200px;

}

.container1{
    margin-top: 150px;

    justify-content: center;
    border-style: none!important;
}




.container1{
    transform-style: preserve-3d;
}

.container1 .box{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
}

.container1 .box .body{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.9s ease;
}



.container1 .box .body .imgContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.container1 .box .body .imgContainer img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container1 .box .body .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.container1 .box:hover .body{
    transform: rotateY(180deg);
}

.container1 .box .body .content div{
    transform-style: preserve-3d;
    padding: 20px;
    background: linear-gradient(45deg, #FE0061,#FFEB3B);
    transform: translateZ(100px);
}

.container1 .box .body .content div h3{
    letter-spacing: 1px;
}








  .cards{
    margin: 3rem;
    transition: all 0.2s ease;
    cursor: pointer;
    

  }
    


.cards:hover{
   
    transform: scale(1.1);

}


.line1{
    color:#10d4e2;
    font-size:12px;
    font-family: 'Poppins';

  }




  .samba{
    margin: 0;
    background-color:  rgb(23, 180, 201);
  }


  .famm{
    margin-top: 100px;
  }


  .carde {
    border-radius: .7rem;
  }